In [1]:
import math

In [2]:
math.sqrt(25)

5.0

In [3]:
math.pi

3.141592653589793

In [4]:
import math as mt

In [5]:
mt.sqrt(25)

5.0

In [6]:
import numpy

In [7]:
import stats from scipy

SyntaxError: invalid syntax (<ipython-input-7-8eecefd8e6be>, line 1)

In [9]:
import scipy

In [11]:
from numpy import random

In [12]:
import stats from scipy

SyntaxError: invalid syntax (<ipython-input-12-8eecefd8e6be>, line 1)

In [13]:
import numpy as np

In [14]:
dataOne=random.rand(5,5)

In [15]:
dataOne

array([[0.87632441, 0.22348212, 0.45864903, 0.20504263, 0.66511616],
       [0.81095714, 0.70890191, 0.09891994, 0.30583348, 0.6689657 ],
       [0.0285092 , 0.54983685, 0.37686626, 0.80722655, 0.87385928],
       [0.1718651 , 0.00411394, 0.53984988, 0.25825596, 0.84709098],
       [0.49374727, 0.02579177, 0.5844516 , 0.21487272, 0.83485048]])

In [16]:
np.mean(dataOne)

0.4653352147708308

In [17]:
print('I Love data Science')

I Love data Science

In [18]:
variableName = 25

In [19]:
variableName1 = 'I Love data Science'

In [20]:
print(variableName1)

I Love data Science

In [21]:
type(variableName)

int

In [22]:
variableName = 25.0

In [23]:
type(variableName)

float

In [24]:
varOne = 25

In [25]:
varTwo = 25.0

varThree = varOne + varTwo

In [30]:
print(varThree)

50.0

In [28]:
type(varThree)

float

In [29]:
varTwo = 'Hello'

In [32]:
listOne = [1,2,3,4]

In [33]:
print(listOne[1:3])

[2, 3]

In [34]:
print(listOne[0:2])

[1, 2]

In [39]:
tel = {'jack': 4098, 'sape': 4139}

In [40]:
tel['jack']

4098

In [43]:
import pandas as pd

In [57]:
data = pd.read_csv('Chapter03DataSet.csv')

In [47]:
pwd

'C:\\Users\\ChristineChu'

In [56]:
cd C:\Users\ChristineChu\Documents\Data Analytics Course

C:\Users\ChristineChu\Documents\Data Analytics Course

In [58]:
type(data)

pandas.core.frame.DataFrame

In [59]:
data

,Gender,Race,Birth_Year,Marital_Status,Years_on_Internet,Hours_Per_Day,Preferred_Browser,Preferred_Search_Engine,Preferred_Email,Read_News,Online_Shopping,Online_Gaming,Facebook,Twitter,Other_Social_Network
0,M,White,1972,M,8,1,Firefox,Google,Yahoo,Y,N,N,Y,N,NaN
1,M,Hispanic,1981,S,14,2,Chrome,Google,Hotmail,Y,N,N,Y,N,NaN
2,F,African American,1977,S,6,2,Firefox,Yahoo,Yahoo,Y,Y,NaN,Y,N,NaN
3,F,White,1961,D,8,6,Firefox,Google,Hotmail,N,Y,N,N,Y,NaN
4,M,White,1954,M,2,3,Internet Explorer,Bing,Hotmail,Y,Y,N,Y,N,NaN
5,M,African American,1982,D,15,4,Internet Explorer,Google,Yahoo,Y,N,Y,N,N,NaN
6,M,African American,1981,D,11,2,Firefox,Google,Yahoo,NaN,Y,NaN,Y,Y,LinkedIn
7,M,White,1977,S,3,3,Internet Explorer,Yahoo,Yahoo,Y,NaN,NaN,Y,99,LinkedIn
8,F,African American,1969,M,6,2,Firefox,Google,Gmail,N,Y,N,N,N,NaN
9,M,White,1987,S,12,1,Safari,Yahoo,Yahoo,Y,NaN,Y,Y,N,MySpace
10,F,Hispanic,1959,D,12,5,Chrome,Google,Gmail,Y,N,N,Y,N,Google+